# Built artifacts
target/

# Lockfile
Cargo.lock

# Project and editor files
.vscode/
.idea/
*.vim
*.vi

# Environment
.env


#Added by cargo
#
#already existing elements are commented out

/target
**/*.rs.bk
#Cargo.lock
