# Built artifacts
target/

# Project and editor files
.vscode/
.idea/
*.vim
*.vi

# Environment
.env

# Shared-memory and WAL files created by SQLite.
*-shm
*-wal

# Integration testing extension library for SQLite.
ipaddr.dylib
ipaddr.so

# Temporary files from running the tests locally like they would be run from CI
.sqlx
