# Built artifacts
target/

# Project and editor files
.vscode/
.idea/
*.vim
*.vi

# Environment
/.env

# Cache from docker compose test runner
tests/.cache/

# Temporary files from SQLite
tests/fixtures/*.sqlite-shm
tests/fixtures/*.sqlite-wal
