[package]
name = "files"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
async-std = { version = "1.8.0", features = [ "attributes" ] }
sqlx = { path = "../../../", features = ["postgres", "offline", "runtime-async-std-native-tls"] }
dotenv = "0.15.0"
