[common.drivers.sqlite]
# Including the full path to the extension is somewhat unusual,
# because normally an extension will be installed in a standard
# directory which is part of the library search path. If that were the
# case here, the unsafe-load-extensions value could just be `["ipaddr"]`
#
# When the extension file is installed in a non-standard location, as
# in this example, there are two options:
# * Provide the full path the the extension, as seen below.
# * Add the non-standard location to the library search path, which on
#   Linux means adding it to the LD_LIBRARY_PATH environment variable.
unsafe-load-extensions = ["/tmp/sqlite3-lib/ipaddr"]
